/*          ###MY SEMESTER###           */


/*          ###PERSONAL INFO###         */

/*      ###school info section*/
.news_header{
    font-size: 1.8rem;
    text-transform: capitalize;
    color: var(--light-blue);
}
.news_secondary{
    font-size: 1.3rem;
    color: var(--light-blue);
    text-transform: capitalize;
    margin: 0.7rem 2.3rem;
}
.news_section{
    margin: 3rem 4rem;
}

/*          ###PAYMENT SECTION###           */

.signup_partTwo{
    margin: 2rem 6rem;
}

.main_payment-header{
    color: var(--light-blue);
    font-size: 2.2rem;
    text-transform: uppercase;
}

.payment_header{
    color: var(--medium-blue);
    font-size: 1.8rem;
    text-transform: uppercase;
}

.fee_info-container{
    min-height: 65%;
}
.installment_section{
    height: 10vh;
    width: 55vw;
    background-color: var(--white);
    border-radius: 5px;
    border: 1px solid var(--light-blue);
}

.installment_section-2{
    min-height: 10vh;
    width: 65vw;
    background-color: var(--white);
    border-radius: 5px;
    border: 1px solid var(--light-blue);
    padding: 1rem 0;
}

.installment_head{
    height: 70%;
    width: 100%;
    border-bottom: 1px solid var(--light-blue);
}

.installment_head-2{
    height: 40%;
    width: 100%;
    border-bottom: 1px solid var(--light-blue);
}

.installment_container{
    height: 30%;
    width: 100%;
    border-bottom-left-radius: 5px;
}

.installment_header{
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 500;
    color: var(--main-blue);
}

.text_white{
    color: var(--main-blue);
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.select_edit{
    height: 2rem;
    width: 12rem;
    border-color: solid 1px var(--grey);
}

.first_div{
    padding-left: 5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 40%;
}

.second_div{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment_input{
    border: 2px solid var(--medium-blue);
    cursor: text;
    width: 12rem;
    height: 2rem;
    border-radius: 7px;
}

.payment_input:focus{
    outline: none;
}

.payment_input-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/*          @@@         MEDIA QUERY         @@@         */
@media only screen and (max-width :480px) {
    .main_payment-header{
        color: var(--light-blue);
        font-size: 1.6rem;
        text-transform: uppercase;
    }
    
    .payment_input-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .installment_section-2{
        width: 75vw;
    }
}

